<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @userForm.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @userForm.email %>
</p>
<% if @userForm.user_id.to_i == session[:user_id]%>
  <%= link_to 'Edit', edit_user_path(@userForm.current_user) %> |
<% end %>
<%= link_to 'Back', users_path %>
