
<% unless cart.line_items.empty?%>
  <h2><%= t('.yourCart')%></h2>
  <table>
    <%= render cart.line_items%>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(exchange(cart.total_price, I18n.locale)) %></td>
    </tr>
  </table>
  <%= button_to t('.checkout'), new_order_path(locale: I18n.locale), method: :get %>
  <%= button_to t('.empty'), cart_url(cart, locale: I18n.locale), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
