<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
      $(function() {
        setInterval(function() {
            $('#side-foot').load('/store/get_time');
        }, 1000);
      }); //this for clock currently running
    </script>
  </head>
  <body class="<%= controller.controller_name%>">
    <div id='banner'>
      <%= image_tag("logo.jpeg", alter:"The pramatic Bookshelf")%>
      <span class='title'> <%= @page_title%> </span>
      <%= render partial: "shared/count" if session[:count] > 5 %>
    </div>
    <div id='columns'>
      <div id='side'>
        <ul>
          <li> <a href="root_path">Home</a>
            <li> <a href="root_path">Question</a>
              <li> <a href="root_path">News</a>
                <li> <a href="root_path">Contact</a>
                </ul>
              </div>
              <div id='main'>
                <%= yield %>
              </div>
            </div>
          </body>
          <footer>
            <div id='side-foot'></div>
          </footer>
        </html>
